<div class="container">
  <div class="row">
    <div>You</div>
    <div class="col-lg-2">
       <label for="">M1</label>
        <mopokens-component [(ngModel)]="mopoForm.m1" levelId="level1"  id="m1" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M2</label>
        <mopokens-component [(ngModel)]="mopoForm.m2" levelId="level2" id="m2" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M3</label>
        <mopokens-component [(ngModel)]="mopoForm.m3" levelId="level3" id="m3" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M4</label>
        <mopokens-component [(ngModel)]="mopoForm.m4" levelId="level4" id="m4" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M5</label>
       <mopokens-component [(ngModel)]="mopoForm.m5" levelId="level5" id="m5" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
  </div>

<br><br>

<div class="col-lg-12">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary pull-right" type="button">Start</button>
        </div>
    </div>
</div>

<div class="row">
    <div>Opponent breeder</div>
    <div class="col-lg-2">
       <label for="">M1</label>
        <mopokens-component [(ngModel)]="mopoForm.om1" levelId="olevel1" id="om1" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M2</label>
        <mopokens-component [(ngModel)]="mopoForm.om2" levelId="olevel2" id="om2" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M3</label>
        <mopokens-component [(ngModel)]="mopoForm.om3" levelId="olevel3"  id="om3" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M4</label>
        <mopokens-component [(ngModel)]="mopoForm.om4" levelId="olevel4" id="om4" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
    <div class="col-lg-2">
       <label for="">M5</label>
        <mopokens-component [(ngModel)]="mopoForm.om5" levelId="olevel5" id="om5" ngDefaultControl 
        (change)="selectedMopokens($event.target)"></mopokens-component>
    </div>
  </div>
</div>